# The rewrite can be removed when https://github.com/bazelbuild/platforms/issues/139 is implemented
# Try GitHub first (primary)
rewrite ^github\.com/bazelbuild/platforms/(.*) github.com/bazelbuild/platforms/$1
# Fall back to mirror (secondary)
# Tracking upstream BCR mirror addition: https://github.com/bazelbuild/platforms/issues/139
rewrite ^github\.com/bazelbuild/platforms/(.*) mirror.bazel.build/github.com/bazelbuild/platforms/$1
